<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
</head>
<body>
    <h1>Edit Task</h1>
    <form action="" method="post">
        <label for="name">Task Name:</label>
        <input type="text" name="name" value="{{ task.name }}" required>
        <label for="description">Description:</label>
        <textarea name="description">{{ task.description }}</textarea>
        <label for="status">Status:</label>
        <select name="status">
            <option value="Pending" {% if task.status =='Pending'%}selected{%endif%}>Pending</option>
            <option value="In Progress" {% if task.status =='InProgress'%}selected{%endif%}>In Progress</option>
            <option value="Completed" {% if task.status =='Completed'%}selected{%endif%}>Completed</option>
        </select>
        <button type="submit">Save Changes</button>
    </form>
    <a href="{{ url_for('index') }}">Cancel</a>
</body>
</html>
